body {
	background-color: #dedede;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin: 0 auto;
}

header {
	background-color: #393939;
	min-width: 1200px;
	min-height: 109px;
}

h1 {
	font-family: 'Gotham Light', Arial, sans-serif;
	color: #009ddc;
	text-align: left;
	margin: 0px;
}

h4 {
	float: left;
	font-family: 'Gotham Light', Arial, sans-serif;
	color: #787878;
	text-align: left;
	display: inline;
}

ul {
	text-align: center;
	list-style-type: none;
}

ul li {
	float: left;
	padding: 10px;
	margin: 10px;
}

hr {
	margin: 25px 0px 20px;
	max-width: 1120px;s
}


footer {
	position: fixed; 
	bottom: 0px;
	width: 100%;
	height: 127px;
}

nav {
	/*max-width: 1200px;*/
	width: 100%;
	height: 51px;
	overflow: hidden;
	background-color: #5a5a5a;
}

#group {
	background-color: #5a5a5a;
	min-width: 1200px;
	min-height: 51px;
}

.container {
	max-width: 1120px;
	width: 100%;
	height: 1800px;
	background-color: #fff;
	padding: 40px 40px 40px 40px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
}

.clear {clear: both;}


.images {
	border-width:1px;
	border-color: #a3a3a3;
	border-style: solid; 
}

.submit {
	float: right;
}

.description {
	vertical-align: middle;
	height: 50px;
}

#slide-down{
	display: none;
	overflow: hidden;
	float: left;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	background-color: #000;
}

#primary-nav {
	
}

.dateicon {
	background-image:url('images/dateicon1.png');
	background-repeat: no-repeat;
	font-family: 'Arial Bold', Arial, sans-serif;
	text-transform: uppercase;
	text-align: left;
	color: white;
	font-size: 12px;
	width: 90px;
	height: 20px;
	padding: 2px 0px 2px 12px;
}

.article-thumbs {
	margin: 0 -5px;
}

.article-thumbs group {
	float: left;

}

.article-thumbs article a {
	display: block;
	padding: 10px;
}

.article-thumbs article a figure {
	border: 1px solid white;
	float: left;
}

.article-thumbs article a figure img {
	display: block;
}

/* Clearfix - see http://nicolasgallagher.com/micro-clearfix-hack/ */
.group:before,
.group:after {
    content: " ";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    *zoom: 1;
}




/*media queries*/

/*ipad*/

@media only screen and (min-width: 321px) and (max-width:768px){
    /*insert responsive css here
    ex: stack floated boxes
    */


/*iphone*/

@media only screen and (max-width:320px){
    /*insert responsive css here
    ex: stack floated boxes
    */
}